// reset css
@import 'bower_components/reset-css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: $base-font-size;
  font-family: $sans-serif;
  line-height: 1.5;
}

main {
  display: block;
}

// modules
@import 'module/wrapper';

// pages
@import 'page/index';
